/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}


.menu{
    -fx-background-color:#fff;
   
}

.menu:hover{
    -fx-background-color:  #7c5ac2;
    -fx-cursor:hand;
}

.changevbox{
    -fx-background-color:#fff;
-fx-text-fill:#fff;
   
}

.changevbox:hover{
    
    -fx-background-color: #ff5e3a;
    -fx-cursor:hand;
    
    
    

}